/* line 5, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Reset*/
/* line 4, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../sass/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*fin du reset*/
/* COVER PART */
/* line 3, ../sass/_main-header.scss */
.header_top {
  background-color: #000;
  height: auto;
  width: 100%;
  /*MENU SMARTPHONES*/
  /* Clearfix */
  /*MENU DESKTOP*/
}
@media (min-width: 641px) {
  /* line 3, ../sass/_main-header.scss */
  .header_top {
    background-image: url("../img/img_bg/encre.png");
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
/* line 16, ../sass/_main-header.scss */
.header_top .menu_dropdown {
  display: block;
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 20;
}
@media (min-width: 481px) {
  /* line 16, ../sass/_main-header.scss */
  .header_top .menu_dropdown {
    display: block;
    position: fixed;
  }
}
@media (min-width: 641px) {
  /* line 16, ../sass/_main-header.scss */
  .header_top .menu_dropdown {
    display: none;
  }
}
/* line 31, ../sass/_main-header.scss */
.header_top .menu_dropdown ul {
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 #FFF;
  list-style: none;
  margin: 0;
  width: 55%;
}
/* line 39, ../sass/_main-header.scss */
.header_top .menu_dropdown li {
  margin: 0;
  min-width: 55%;
}
/* line 43, ../sass/_main-header.scss */
.header_top .menu_dropdown a {
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  line-height: 2.5em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 0.8em 0.8em;
  padding-left: 4.5em;
  text-align: left;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
/* line 62, ../sass/_main-header.scss */
.header_top .menu_dropdown .dropdown {
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Lato', sans-serif;
  line-height: 1em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
}
/* line 75, ../sass/_main-header.scss */
.header_top .menu_dropdown .dropdown .icone {
  background-image: url("../img/flat_icones/menu.png");
  width: 24px;
  height: 18px;
  float: left;
  margin-right: 0.8em;
}
/* line 84, ../sass/_main-header.scss */
.header_top .menu_dropdown li:hover a {
  background: #000;
}
/* line 87, ../sass/_main-header.scss */
.header_top .menu_dropdown li ul {
  float: left;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
/* line 101, ../sass/_main-header.scss */
.header_top .menu_dropdown li:hover ul {
  opacity: 1;
  top: 42px;
  visibility: visible;
}
/* line 106, ../sass/_main-header.scss */
.header_top .menu_dropdown li ul li {
  float: none;
  width: 100%;
}
/* line 110, ../sass/_main-header.scss */
.header_top .menu_dropdown li ul a:hover {
  background: crimson;
}
/* line 115, ../sass/_main-header.scss */
.header_top .menu_drop_main:after, .header_top .menu_drop_main:before {
  content: "";
  display: table;
}
/* line 119, ../sass/_main-header.scss */
.header_top .menu_drop_main:after {
  clear: both;
}
/* line 124, ../sass/_main-header.scss */
.header_top .menu_desk {
  display: none;
}
@media (min-width: 641px) {
  /* line 124, ../sass/_main-header.scss */
  .header_top .menu_desk {
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* line 133, ../sass/_main-header.scss */
.header_top .menu_desk .menu_desktop {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 641px) {
  /* line 133, ../sass/_main-header.scss */
  .header_top .menu_desk .menu_desktop {
    flex-direction: row;
  }
}
/* line 143, ../sass/_main-header.scss */
.header_top .menu_desk .menu_desktop li .menu_items {
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  line-height: 1em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;
  position: right;
}
/* line 153, ../sass/_main-header.scss */
.header_top .menu_desk .menu_desktop li .menu_items:hover {
  color: crimson;
}

/* line 166, ../sass/_main-header.scss */
.intro_section .slide {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0px;
  width: 100%;
  height: 33em;
}
@media (min-width: 641px) {
  /* line 166, ../sass/_main-header.scss */
  .intro_section .slide {
    background-attachment: fixed;
    height: 53em;
  }
}
@media (min-width: 961px) {
  /* line 166, ../sass/_main-header.scss */
  .intro_section .slide {
    background-attachment: fixed;
    height: 53em;
  }
}
@media (min-width: 1281px) {
  /* line 166, ../sass/_main-header.scss */
  .intro_section .slide {
    background-attachment: fixed;
    height: 53em;
  }
}
/* line 186, ../sass/_main-header.scss */
.intro_section .slide #caption {
  padding-top: 5em;
}
@media (min-width: 641px) {
  /* line 186, ../sass/_main-header.scss */
  .intro_section .slide #caption {
    padding-top: 5em;
  }
}
@media (min-width: 961px) {
  /* line 186, ../sass/_main-header.scss */
  .intro_section .slide #caption {
    padding-top: 3em;
  }
}
@media (min-width: 1281px) {
  /* line 186, ../sass/_main-header.scss */
  .intro_section .slide #caption {
    padding-top: 4em;
  }
}
/* line 197, ../sass/_main-header.scss */
.intro_section .slide #caption .logo {
  background-image: url("../img/img_bg/logo_bistrot_des_anges_210.svg");
  width: 210px;
  height: 300px;
  background-repeat: no-repeat;
  margin: auto;
}
@media (min-width: 641px) {
  /* line 197, ../sass/_main-header.scss */
  .intro_section .slide #caption .logo {
    background-image: url("../img/img_bg/logo_bistrot_des_anges_420.svg");
    width: 420px;
    height: 600px;
  }
}
@media (min-width: 961px) {
  /* line 197, ../sass/_main-header.scss */
  .intro_section .slide #caption .logo {
    background-image: url("../img/img_bg/logo_bistrot_des_anges_420.svg");
    width: 420px;
    height: 600px;
  }
}
/* line 215, ../sass/_main-header.scss */
.intro_section .slide #caption .caption_title {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: Uppercase;
  color: #fff;
  text-align: center;
  padding-top: 2em;
}
@media (min-width: 641px) {
  /* line 215, ../sass/_main-header.scss */
  .intro_section .slide #caption .caption_title {
    font-size: 1em;
  }
}
@media (min-width: 961px) {
  /* line 215, ../sass/_main-header.scss */
  .intro_section .slide #caption .caption_title {
    padding-top: 1em;
    font-size: 1.5em;
  }
}
@media (min-width: 1285px) {
  /* line 215, ../sass/_main-header.scss */
  .intro_section .slide #caption .caption_title {
    padding-top: 1.5em;
  }
}
/* line 236, ../sass/_main-header.scss */
.intro_section .slide #caption .icone_down {
  background-image: url("../img/flat_icones/down-arrow.png");
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 1.5em;
}
@media (min-width: 641px) {
  /* line 236, ../sass/_main-header.scss */
  .intro_section .slide #caption .icone_down {
    margin-top: 2.5em;
  }
}
/* line 252, ../sass/_main-header.scss */
.intro_section #bg_img {
  background-image: url("../img/img_restau/restau_gen.jpg");
  background-size: cover;
}

/* ABOUT PART */
/* line 4, ../sass/_about.scss */
.about_section {
  width: 100%;
  margin: auto;
  background-image: url("../img/img_bg/plumes1.png");
  background-color: #fff;
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 4em;
  height: auto;
  border-bottom: 1px solid #e2e2e2;
}
@media (min-width: 481px) {
  /* line 4, ../sass/_about.scss */
  .about_section {
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}
@media (min-width: 961px) {
  /* line 4, ../sass/_about.scss */
  .about_section {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}
@media (min-width: 1025px) {
  /* line 4, ../sass/_about.scss */
  .about_section {
    padding-top: 7em;
    padding-bottom: 7em;
  }
}
/* line 28, ../sass/_about.scss */
.about_section .intro_text_section {
  text-align: center;
  padding: 0em 1em;
}
@media (min-width: 1025px) {
  /* line 28, ../sass/_about.scss */
  .about_section .intro_text_section {
    width: 50%;
  }
}
/* line 34, ../sass/_about.scss */
.about_section .intro_text_section .title_upper_part_about {
  font-family: 'Pinyon Script', cursive;
  /*font-family: 'Parisienne', cursive;*/
  font-size: 2.2em;
  margin-bottom: -8px;
  line-height: 1;
  color: #000;
}
@media (min-width: 641px) {
  /* line 34, ../sass/_about.scss */
  .about_section .intro_text_section .title_upper_part_about {
    font-size: 5.2em;
  }
}
/* line 45, ../sass/_about.scss */
.about_section .intro_text_section h1 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 600;
  text-transform: Uppercase;
  margin-bottom: 0.5em;
}
/* line 60, ../sass/_about.scss */
.about_section .intro_text_section h1 sup {
  font-size: 0.4em;
  position: relative;
  right: 5px;
  top: -1em;
}
@media (min-width: 641px) {
  /* line 60, ../sass/_about.scss */
  .about_section .intro_text_section h1 sup {
    font-size: 24px;
    top: -0.7em;
  }
}
@media (min-width: 1025px) {
  /* line 60, ../sass/_about.scss */
  .about_section .intro_text_section h1 sup {
    font-size: 20px;
    top: -0.7em;
  }
}
/* line 77, ../sass/_about.scss */
.about_section .intro_text_section h5 {
  font-size: 2.8em;
}
/* line 80, ../sass/_about.scss */
.about_section .intro_text_section p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1.7em;
  margin-top: 1.7em;
}
@media (min-width: 641px) {
  /* line 80, ../sass/_about.scss */
  .about_section .intro_text_section p {
    font-size: 1.8em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1.7em;
    margin-top: 1.7em;
  }
}
/* line 96, ../sass/_about.scss */
.about_section .intro_text_section .chef {
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: Uppercase;
}
@media (min-width: 641px) {
  /* line 96, ../sass/_about.scss */
  .about_section .intro_text_section .chef {
    font-size: 0.9em;
  }
}
/* line 105, ../sass/_about.scss */
.about_section .intro_text_section .chef:before, .about_section .intro_text_section .chef:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
  height: 1px;
  background: #000;
}
@media (min-width: 641px) {
  /* line 105, ../sass/_about.scss */
  .about_section .intro_text_section .chef:before, .about_section .intro_text_section .chef:after {
    width: 8rem;
  }
}
/* line 116, ../sass/_about.scss */
.about_section .intro_text_section .chef:before {
  margin-right: .25rem;
}
@media (min-width: 641px) {
  /* line 116, ../sass/_about.scss */
  .about_section .intro_text_section .chef:before {
    margin-right: .5rem;
  }
}
/* line 122, ../sass/_about.scss */
.about_section .intro_text_section .chef:after {
  margin-left: .2rem;
}
@media (min-width: 641px) {
  /* line 122, ../sass/_about.scss */
  .about_section .intro_text_section .chef:after {
    margin-left: .4rem;
  }
}
/* line 128, ../sass/_about.scss */
.about_section .intro_text_section .about_img {
  margin-top: 20px;
  width: 150px;
  height: auto;
}
/* line 136, ../sass/_about.scss */
.about_section .picture_about_section {
  width: 100%;
  padding: 0em 2em 2em 2em;
}
@media (min-width: 1025px) {
  /* line 136, ../sass/_about.scss */
  .about_section .picture_about_section {
    width: 50%;
  }
}
/* line 142, ../sass/_about.scss */
.about_section .picture_about_section .intr_img {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* CONTACT PART */
/* line 3, ../sass/_gallerie.scss */
.gallerie_section {
  background-image: url("../img/img_bg/encre.png");
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #e2e2e2;
}
@media (min-width: 961px) {
  /* line 3, ../sass/_gallerie.scss */
  .gallerie_section {
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
  }
}
@media (min-width: 1025px) {
  /* line 3, ../sass/_gallerie.scss */
  .gallerie_section {
    padding-top: 7em;
    padding-bottom: 7em;
  }
}
/* line 22, ../sass/_gallerie.scss */
.gallerie_section h2 {
  color: #fff;
}
/* line 25, ../sass/_gallerie.scss */
.gallerie_section span {
  color: #fff;
}
/* line 30, ../sass/_gallerie.scss */
.gallerie_section .carousel {
  width: 100%;
}
/* line 33, ../sass/_gallerie.scss */
.gallerie_section .carousel .owl-stage-outer {
  padding-top: 9em;
}
@media (min-width: 481px) {
  /* line 33, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-stage-outer {
    padding-top: 10.9em;
  }
}
@media (min-width: 641px) {
  /* line 33, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-stage-outer {
    padding-top: 12.9em;
  }
}
@media (min-width: 961px) {
  /* line 33, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-stage-outer {
    padding-top: 0em;
  }
}
/* line 51, ../sass/_gallerie.scss */
.gallerie_section .carousel .owl-controls .owl-nav .owl-prev, .gallerie_section .carousel .owl-controls .owl-nav .owl-next {
  position: absolute;
  width: 32px;
  top: 0%;
  height: 12.5em;
  z-index: 10;
  padding-top: 8em;
  margin-top: -5.5em;
  background-image: url("../img/img_bg/encre.png");
}
@media (min-width: 481px) {
  /* line 51, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-prev, .gallerie_section .carousel .owl-controls .owl-nav .owl-next {
    padding-top: 8.4em;
  }
}
@media (min-width: 641px) {
  /* line 51, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-prev, .gallerie_section .carousel .owl-controls .owl-nav .owl-next {
    padding-top: 11.4em;
    width: 60px;
  }
}
@media (min-width: 961px) {
  /* line 51, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-prev, .gallerie_section .carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 10em;
    top: 50%;
    padding-top: 4em;
    margin-top: -5em;
    background-image: url("../img/img_bg/encre.png");
  }
}
/* line 79, ../sass/_gallerie.scss */
.gallerie_section .carousel .owl-controls .owl-nav .owl-prev {
  left: 50%;
  text-align: center;
  margin-left: -152px;
}
@media (min-width: 481px) {
  /* line 79, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-prev {
    margin-left: -172px;
  }
}
@media (min-width: 641px) {
  /* line 79, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-prev {
    margin-left: -210px;
  }
}
@media (min-width: 961px) {
  /* line 79, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-prev {
    left: 50%;
    margin-left: -210px;
  }
}
/* line 95, ../sass/_gallerie.scss */
.gallerie_section .carousel .owl-controls .owl-nav .owl-next {
  right: 50%;
  margin-right: -152px;
  text-align: center;
}
@media (min-width: 481px) {
  /* line 95, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-next {
    margin-right: -172px;
  }
}
@media (min-width: 641px) {
  /* line 95, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-next {
    margin-right: -210px;
  }
}
@media (min-width: 961px) {
  /* line 95, ../sass/_gallerie.scss */
  .gallerie_section .carousel .owl-controls .owl-nav .owl-next {
    right: 50%;
    margin-right: -210px;
  }
}
/* line 119, ../sass/_gallerie.scss */
.gallerie_section .overlay_recipe {
  width: 240px;
  padding: 4em 0em;
  height: 11em;
  text-align: center;
  z-index: 10;
  margin-left: -120px;
  background-image: url("../img/img_bg/encre.png");
  left: 50%;
  top: 0%;
  position: absolute;
}
@media (min-width: 481px) {
  /* line 119, ../sass/_gallerie.scss */
  .gallerie_section .overlay_recipe {
    width: 280px;
    margin-left: -140px;
  }
}
@media (min-width: 641px) {
  /* line 119, ../sass/_gallerie.scss */
  .gallerie_section .overlay_recipe {
    width: 300px;
    margin-left: -150px;
  }
}
@media (min-width: 961px) {
  /* line 119, ../sass/_gallerie.scss */
  .gallerie_section .overlay_recipe {
    height: 10em;
    text-align: center;
    background-image: url("../img/img_bg/encre.png");
    position: absolute;
    padding: 1em 0em;
    text-align: center;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -5em;
    z-index: 10;
  }
}
/* line 153, ../sass/_gallerie.scss */
.gallerie_section .overlay_recipe .section_title {
  border-top: 0.5px solid white;
  border-bottom: 1px solid white;
  padding-top: 0.6em;
  padding-bottom: 0.4em;
}

/* CONTACT PART */
/* line 3, ../sass/_services.scss */
.services_section {
  background-image: url("../img/img_bg/stribes.png");
  /*background-color:#fff;*/
  overflow: hidden;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #e2e2e2;
}
@media (min-width: 961px) {
  /* line 3, ../sass/_services.scss */
  .services_section {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}
@media (min-width: 1025px) {
  /* line 3, ../sass/_services.scss */
  .services_section {
    padding-top: 7em;
    padding-bottom: 7em;
  }
}
/* line 19, ../sass/_services.scss */
.services_section .services {
  width: 100%;
  margin: auto;
  border: 1px solid black;
  background-color: white;
}
@media (min-width: 481px) {
  /* line 19, ../sass/_services.scss */
  .services_section .services {
    width: 100%;
  }
}
@media (min-width: 961px) {
  /* line 19, ../sass/_services.scss */
  .services_section .services {
    width: 100%;
  }
}
/* line 32, ../sass/_services.scss */
.services_section .services .ornament {
  width: 250px;
  height: 29px;
  background-image: url("../img/img_bg/ornement1.png");
  background-repeat: no-repeat;
  position: absolute;
  margin: auto;
  left: 50%;
  margin-left: -125px;
  margin-top: -1.5em;
}
@media (min-width: 481px) {
  /* line 32, ../sass/_services.scss */
  .services_section .services .ornament {
    width: 400px;
    height: 46px;
    background-image: url("../img/img_bg/ornement1400.png");
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    left: 50%;
    margin-left: -200px;
    margin-top: -2.5em;
  }
}
/* line 55, ../sass/_services.scss */
.services_section .services .ornament_2 {
  width: 150px;
  height: 50px;
  background-image: url("../img/img_bg/ornament2100.png");
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 2em;
}
/* line 64, ../sass/_services.scss */
.services_section .services header {
  letter-spacing: 0px;
  font-size: 16px;
  text-align: center;
  margin-top: 5em;
}
/* line 72, ../sass/_services.scss */
.services_section .services .services_list_container {
  padding-bottom: 3em;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 3em;
  background-color: white;
  /*border: 3px double #e2e2e2;*/
}
@media (min-width: 481px) {
  /* line 72, ../sass/_services.scss */
  .services_section .services .services_list_container {
    padding-bottom: 3em;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 3em;
  }
}
@media (min-width: 641px) {
  /* line 72, ../sass/_services.scss */
  .services_section .services .services_list_container {
    padding-bottom: 5em;
    padding-top: 5em;
  }
}
@media (min-width: 1181px) {
  /* line 72, ../sass/_services.scss */
  .services_section .services .services_list_container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
/* line 100, ../sass/_services.scss */
.services_section .services .services_list_container .column_services_display {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 1.5em;
}
@media (min-width: 481px) {
  /* line 100, ../sass/_services.scss */
  .services_section .services .services_list_container .column_services_display {
    padding-right: 3em;
    padding-left: 3em;
  }
}
@media (min-width: 641px) {
  /* line 100, ../sass/_services.scss */
  .services_section .services .services_list_container .column_services_display {
    width: 50%;
  }
}
@media (min-width: 961px) {
  /* line 100, ../sass/_services.scss */
  .services_section .services .services_list_container .column_services_display {
    width: 50%;
  }
}
@media (min-width: 1181px) {
  /* line 100, ../sass/_services.scss */
  .services_section .services .services_list_container .column_services_display {
    width: 25%;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
/* line 123, ../sass/_services.scss */
.services_section .services .services_list_container .column_services_display .service_text_section {
  text-align: center;
  width: 100%;
}
/* line 126, ../sass/_services.scss */
.services_section .services .services_list_container .column_services_display .service_text_section figure {
  margin-bottom: 1.5em;
}
/* line 129, ../sass/_services.scss */
.services_section .services .services_list_container .column_services_display .service_text_section .services_img {
  width: 120px;
  height: auto;
}
/* line 134, ../sass/_services.scss */
.services_section .services .services_list_container .column_services_display .service_text_section p {
  padding-top: 0.8em;
  margin-bottom: 3em;
}
@media (min-width: 481px) {
  /* line 134, ../sass/_services.scss */
  .services_section .services .services_list_container .column_services_display .service_text_section p {
    margin-bottom: 5em;
  }
}
@media (min-width: 961px) {
  /* line 134, ../sass/_services.scss */
  .services_section .services .services_list_container .column_services_display .service_text_section p {
    margin-bottom: 4em;
  }
}
@media (min-width: 1180px) {
  /* line 134, ../sass/_services.scss */
  .services_section .services .services_list_container .column_services_display .service_text_section p {
    margin-bottom: 0em;
  }
}

/* CONTACT PART */
/* line 3, ../sass/_menu.scss */
.menu_section {
  background-image: url("../img/img_bg/anges2.png");
  overflow: hidden;
  /*background-color:#fff;*/
  height: auto;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
}
@media (min-width: 961px) {
  /* line 3, ../sass/_menu.scss */
  .menu_section {
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
  }
}
@media (min-width: 1086px) {
  /* line 3, ../sass/_menu.scss */
  .menu_section {
    padding-top: 7em;
    padding-bottom: 7em;
  }
}
/* line 21, ../sass/_menu.scss */
.menu_section .menu_list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
@media (min-width: 1086px) {
  /* line 21, ../sass/_menu.scss */
  .menu_section .menu_list_container {
    flex-direction: row;
  }
}
/* line 34, ../sass/_menu.scss */
.menu_section .menu_list_container .column_display_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
@media (min-width: 1086px) {
  /* line 34, ../sass/_menu.scss */
  .menu_section .menu_list_container .column_display_menu {
    width: 50%;
    padding-top: 0em;
  }
}
/* line 53, ../sass/_menu.scss */
.menu_section .menu_text_section {
  padding-top: 3em;
  text-align: center;
  height: auto;
  margin-bottom: 3em;
}
@media (min-width: 961px) {
  /* line 53, ../sass/_menu.scss */
  .menu_section .menu_text_section {
    padding-top: 5em;
    margin-bottom: 0em;
  }
}
@media (min-width: 1086px) {
  /* line 53, ../sass/_menu.scss */
  .menu_section .menu_text_section {
    margin-bottom: 0em;
    padding-top: 0em;
  }
}
/* line 66, ../sass/_menu.scss */
.menu_section .menu_text_section .frame_menu {
  border: 3px double black;
  margin: auto;
  padding: 3em 1.5em;
  background-color: #fff;
  width: 100%;
  margin: auto;
}
@media (min-width: 481px) {
  /* line 66, ../sass/_menu.scss */
  .menu_section .menu_text_section .frame_menu {
    width: 100%;
    margin-top: 0em;
    height: 37em;
  }
}
@media (min-width: 961px) {
  /* line 66, ../sass/_menu.scss */
  .menu_section .menu_text_section .frame_menu {
    height: auto;
  }
}
@media (min-width: 1025px) {
  /* line 66, ../sass/_menu.scss */
  .menu_section .menu_text_section .frame_menu {
    width: 80%;
    padding: 3em;
  }
}
/* line 87, ../sass/_menu.scss */
.menu_section .menu_text_section .frame_menu .logo_fait_maison {
  width: 181px;
  height: 100px;
  background-image: url("../img/img_bg/ornament_homemade.png");
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 0.5em;
}
/* line 95, ../sass/_menu.scss */
.menu_section .menu_text_section .frame_menu p {
  margin-bottom: 3em;
  margin-top: 1.7em;
}
@media (min-width: 481px) {
  /* line 95, ../sass/_menu.scss */
  .menu_section .menu_text_section .frame_menu p {
    margin-bottom: 4em;
    padding: 0em 1.5em;
  }
}
/* line 106, ../sass/_menu.scss */
.menu_section .menu_text_section .frame_menu .button {
  background-image: url("../img/img_bg/grille.png");
  border: solid 3px #373641;
  color: #373641;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  margin-top: 2em;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 481px) {
  /* line 106, ../sass/_menu.scss */
  .menu_section .menu_text_section .frame_menu .button {
    font-size: 1.2em;
    padding: 10px;
  }
}
@media (min-width: 961px) {
  /* line 106, ../sass/_menu.scss */
  .menu_section .menu_text_section .frame_menu .button {
    width: 80%;
    font-size: 1.5em;
  }
}
/* line 126, ../sass/_menu.scss */
.menu_section .menu_text_section .frame_menu .button:hover {
  background-image: url("../img/grille.png");
  border: solid 3px crimson;
  color: crimson;
}
/* line 134, ../sass/_menu.scss */
.menu_section .picture_menu_section {
  margin-top: 3em;
  position: relative;
}
@media (min-width: 961px) {
  /* line 134, ../sass/_menu.scss */
  .menu_section .picture_menu_section {
    margin-top: 0em;
  }
}
/* line 140, ../sass/_menu.scss */
.menu_section .picture_menu_section .intr_img {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #e2e2e2;
}
/* line 147, ../sass/_menu.scss */
.menu_section .picture_menu_section .overlay_menu {
  width: 100%;
}
/* line 149, ../sass/_menu.scss */
.menu_section .picture_menu_section .overlay_menu .overlay_menu_inner {
  position: absolute;
  width: 50%;
  padding: 1.5em 1.5em;
  height: 8EM;
  margin-left: -25%;
  text-align: center;
  background-image: url("../img/img_bg/encre.png");
  z-index: 10;
  top: 50%;
  Left: 50%;
  margin-top: -3.5em;
  border: 3px solid white;
}
@media (min-width: 481px) {
  /* line 149, ../sass/_menu.scss */
  .menu_section .picture_menu_section .overlay_menu .overlay_menu_inner {
    height: 9em;
    margin-top: -4.5em;
  }
}
@media (min-width: 641px) {
  /* line 149, ../sass/_menu.scss */
  .menu_section .picture_menu_section .overlay_menu .overlay_menu_inner {
    height: 11em;
    margin-top: -5.5em;
  }
}
@media (min-width: 961px) {
  /* line 149, ../sass/_menu.scss */
  .menu_section .picture_menu_section .overlay_menu .overlay_menu_inner {
    height: 9em;
    margin-top: -4.5em;
  }
}
@media (min-width: 1025px) {
  /* line 149, ../sass/_menu.scss */
  .menu_section .picture_menu_section .overlay_menu .overlay_menu_inner {
    height: 9em;
    margin-top: -4.5em;
  }
}
/* line 171, ../sass/_menu.scss */
.menu_section .picture_menu_section .overlay_menu .overlay_menu_inner .section_title_menu {
  color: #fff;
}
/* line 173, ../sass/_menu.scss */
.menu_section .picture_menu_section .overlay_menu .overlay_menu_inner .section_title_menu h2 {
  color: #fff;
}

/* CONTACT PART */
/* line 3, ../sass/_reservation.scss */
.evenements_section {
  background-color: MediumPurple;
}
/* line 5, ../sass/_reservation.scss */
.evenements_section .slide {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0px;
  width: 100%;
  height: 350px;
}
/* line 12, ../sass/_reservation.scss */
.evenements_section .slide .section_title {
  width: 32%;
  height: AUTO;
  border-width: 0px;
  margin-right: 34%;
  margin-left: 34%;
  margin-top: 3.5%;
  margin-bottom: 3%;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  padding: 47px 100px 60px;
  z-index: 10;
  text-align: center;
}
/* line 29, ../sass/_reservation.scss */
.evenements_section .slide .section_title a {
  text-decoration: none;
  color: black;
}
/* line 33, ../sass/_reservation.scss */
.evenements_section .slide .section_title a:hover {
  text-decoration: none;
  color: #983541;
}
/* line 42, ../sass/_reservation.scss */
.evenements_section #bg_img {
  background-image: url("../img/img_restau/restau-int.jpg");
  background-size: cover;
}

/* CONTACT PART */
/* line 8, ../sass/_contact.scss */
.contact_section {
  background-image: url("../img/img_bg/encre.png");
  background-color: #333333;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-top: 4em;
}
@media (min-width: 961px) {
  /* line 8, ../sass/_contact.scss */
  .contact_section {
    padding-top: 0em;
  }
}
/* line 22, ../sass/_contact.scss */
.contact_section .contact_list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
}
@media (min-width: 961px) {
  /* line 22, ../sass/_contact.scss */
  .contact_section .contact_list_container {
    flex-direction: row-reverse;
  }
}
/* line 35, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay {
  width: 100%;
  display: inline-block;
  height: auto;
  background-image: url("../img/img_bg/encre.png");
  padding-bottom: 7em;
}
@media (min-width: 961px) {
  /* line 35, ../sass/_contact.scss */
  .contact_section .contact_list_container .map_overlay {
    height: 70em;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}
@media (min-width: 1025px) {
  /* line 35, ../sass/_contact.scss */
  .contact_section .contact_list_container .map_overlay {
    height: 66em;
    padding-top: 8em;
    padding-bottom: 5em;
  }
}
/* line 52, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section {
  overflow: hidden;
  height: auto;
  margin: auto;
  width: 90%;
  height: auto;
  text-align: center;
  margin-bottom: 4em;
}
/* line 60, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section header {
  color: #fff;
}
/* line 61, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section h2 {
  color: #fff;
}
/* line 62, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section h5 {
  color: #fff;
}
/* line 63, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section h6 {
  color: #fff;
}
/* line 64, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section .ornament_contact {
  width: 220px;
  height: 18.5px;
  background-image: url("../img/img_bg/ornamentsmall.svg");
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 1.3em;
}
@media (min-width: 481px) {
  /* line 64, ../sass/_contact.scss */
  .contact_section .contact_list_container .map_overlay .contact_text_section .ornament_contact {
    width: 300px;
    height: 25px;
    background-image: url("../img/img_bg/ornament.svg");
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 1.3em;
  }
}
/* line 83, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section p {
  margin-top: 1.7em;
  color: #fff;
  padding: 0em 1.5em;
}
@media (min-width: 961px) {
  /* line 83, ../sass/_contact.scss */
  .contact_section .contact_list_container .map_overlay .contact_text_section p {
    padding-right: 7.5em;
    padding-left: 7.5em;
  }
}
/* line 94, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section .email {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-decoration: underline;
}
/* line 100, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .contact_text_section .email:hover {
  color: crimson;
}
/* line 107, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .inner_map_overlay {
  width: 82%;
  padding: 30px 40px 0px 40px;
  margin: auto;
  vertical-align: baseline;
  box-sizing: border-box;
  color: #9d9d9d;
  text-transform: uppercase;
  border: double 3px #fff;
}
@media (min-width: 681px) {
  /* line 107, ../sass/_contact.scss */
  .contact_section .contact_list_container .map_overlay .inner_map_overlay {
    width: 66%;
    padding: 30px 70px 0px 70px;
  }
}
/* line 122, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .inner_map_overlay .inner_map_title {
  text-align: center;
  margin-bottom: 2em;
  letter-spacing: 0.2em;
}
/* line 127, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .inner_map_overlay .inner_map_title .contact_info {
  font-size: 1em;
  color: #fff;
  border-bottom: solid 1px #fff;
  line-height: 1.4em;
  padding-bottom: 0.5em;
  margin-bottom: 0.7em;
}
/* line 135, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .inner_map_overlay .inner_map_title .hours {
  margin-bottom: 1em;
}
/* line 139, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .inner_map_overlay .inner_map_title p {
  font-size: 0.8em;
  font-weight: 600;
}
/* line 143, ../sass/_contact.scss */
.contact_section .contact_list_container .map_overlay .inner_map_overlay .inner_map_title .conditions {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  margin-top: 2em;
  color: #9d9d9d;
  text-transform: none;
  font-style: italic;
}
/* line 155, ../sass/_contact.scss */
.contact_section .contact_list_container .location {
  width: 100%;
}
/* line 157, ../sass/_contact.scss */
.contact_section .contact_list_container .location #map {
  height: 40em;
  width: 100%;
}
@media (min-width: 961px) {
  /* line 157, ../sass/_contact.scss */
  .contact_section .contact_list_container .location #map {
    height: 70em;
  }
}
@media (min-width: 1025px) {
  /* line 157, ../sass/_contact.scss */
  .contact_section .contact_list_container .location #map {
    height: 66em;
  }
}
/* line 166, ../sass/_contact.scss */
.contact_section .contact_list_container .location #map a {
  border-bottom: none;
  box-shadow: none;
  color: none;
  text-decoration: none;
}
/* line 172, ../sass/_contact.scss */
.contact_section .contact_list_container .location #map a:hover {
  background-color: none;
  text-decoration: none;
}

/* line 3, ../sass/_footer.scss */
footer {
  height: auto;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
}
/* line 9, ../sass/_footer.scss */
footer .footer_mentions {
  font-size: 0.6em;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #333333;
  text-align: center;
}
/* line 15, ../sass/_footer.scss */
footer .footer_mentions a {
  color: #333333;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
/* line 21, ../sass/_footer.scss */
footer .footer_mentions a:hover {
  color: crimson;
}

/* variables couleurs police*/
/* variables couleurs background*/
/*variables polices*/
/* CONTACT PART */
/* line 3, ../sass/_evenements.scss */
.evenements_section {
  background-image: url("../img/img_bg/rose1000.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 3em;
  /*border-bottom: 1px solid #e2e2e2;*/
}
@media (min-width: 481px) {
  /* line 3, ../sass/_evenements.scss */
  .evenements_section {
    padding-top: 7em;
    padding-bottom: 7em;
  }
}
/* line 15, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside {
  position: relative;
  width: 300px;
  height: 440px;
  background-color: white;
  border: 2px solid black;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  margin: auto;
}
@media (min-width: 481px) {
  /* line 15, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside {
    width: 320px;
    height: 460px;
  }
}
@media (min-width: 641px) {
  /* line 15, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside {
    width: 400px;
    height: 540px;
  }
}
@media (min-width: 961px) {
  /* line 15, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside {
    width: 360px;
    height: 500px;
  }
}
@media (min-width: 1281px) {
  /* line 15, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside {
    width: 400px;
    height: 522px;
  }
}
/* line 44, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner {
  width: 264px;
  height: 388px;
  padding-top: 3em;
  margin: auto;
  text-align: center;
  background-color: white;
  border: 1px solid black;
}
@media (min-width: 481px) {
  /* line 44, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside .overlay_evenements_inner {
    width: 285px;
    height: 402px;
  }
}
@media (min-width: 641px) {
  /* line 44, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside .overlay_evenements_inner {
    padding-top: 4em;
    width: 364px;
    height: 488px;
  }
}
@media (min-width: 961px) {
  /* line 44, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside .overlay_evenements_inner {
    padding-top: 5em;
    width: 324px;
    height: 444px;
  }
}
@media (min-width: 1281px) {
  /* line 44, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside .overlay_evenements_inner {
    padding-top: 5em;
    width: 364px;
    height: 471px;
  }
}
/* line 72, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner .ornament_top_left {
  background-image: url("../img/img_bg/ferforgetopleft.svg");
  background-repeat: no-repeat;
  width: 65px;
  height: 64px;
  position: absolute;
  top: -5px;
  left: -5px;
}
/* line 81, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner .ornament_top_right {
  background-image: url("../img/img_bg/ferforgetopright.svg");
  width: 65px;
  height: 64px;
  position: absolute;
  top: -5px;
  right: -5px;
}
/* line 89, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner .ornament_bottom_left {
  background-image: url("../img/img_bg/ferforgebottomleft.svg");
  background-repeat: no-repeat;
  width: 65px;
  height: 64px;
  position: absolute;
  bottom: -5px;
  left: -5px;
}
/* line 99, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner .ornament_bottom_right {
  background-image: url("../img/img_bg/ferforgebottomright.svg");
  width: 65px;
  height: 64px;
  position: absolute;
  bottom: -5px;
  right: -5px;
}
/* line 111, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner .ornament_events_text {
  width: 150px;
  height: 59px;
  background-image: url("../img/img_bg/fbiconeornament.svg");
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 1.5em;
}
/* line 119, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner p {
  margin-top: 1.7em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}
@media (min-width: 641px) {
  /* line 119, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside .overlay_evenements_inner p {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
@media (min-width: 961px) {
  /* line 119, ../sass/_evenements.scss */
  .evenements_section .overlay_evenements_outside .overlay_evenements_inner p {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
}
/* line 132, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner p .fb {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  color: black;
  text-decoration: underline;
}
/* line 138, ../sass/_evenements.scss */
.evenements_section .overlay_evenements_outside .overlay_evenements_inner p .fb:hover {
  color: crimson;
}

/* media queries */
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
/* line 24, ../sass/style.scss */
body {
  background-color: #fff;
}
/* line 26, ../sass/style.scss */
body .wrapper {
  width: 92%;
  margin: auto;
}
@media (min-width: 481px) {
  /* line 26, ../sass/style.scss */
  body .wrapper {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 641px) {
  /* line 26, ../sass/style.scss */
  body .wrapper {
    width: 92%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 961px) {
  /* line 26, ../sass/style.scss */
  body .wrapper {
    width: 92%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1025px) {
  /* line 26, ../sass/style.scss */
  body .wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1281px) {
  /* line 26, ../sass/style.scss */
  body .wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* line 55, ../sass/style.scss */
body .wrapper_top {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 55, ../sass/style.scss */
  body .wrapper_top {
    width: 92%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 961px) {
  /* line 55, ../sass/style.scss */
  body .wrapper_top {
    width: 92%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1025px) {
  /* line 55, ../sass/style.scss */
  body .wrapper_top {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1281px) {
  /* line 55, ../sass/style.scss */
  body .wrapper_top {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* line 81, ../sass/style.scss */
body span {
  /*font-family: 'Parisienne', cursive;*/
  font-family: 'Pinyon Script', cursive;
  font-size: 2.2em;
  margin-bottom: -8px;
  line-height: 1;
}
@media (min-width: 481px) {
  /* line 81, ../sass/style.scss */
  body span {
    font-size: 2.4em;
  }
}
@media (min-width: 641px) {
  /* line 81, ../sass/style.scss */
  body span {
    font-size: 4.2em;
  }
}
@media (min-width: 961px) {
  /* line 81, ../sass/style.scss */
  body span {
    font-size: 3em;
  }
}
/* line 98, ../sass/style.scss */
body text {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 600;
  text-transform: Uppercase;
  margin-bottom: 0.5em;
}
/* line 105, ../sass/style.scss */
body h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 2em;
  font-weight: 600;
  text-transform: Uppercase;
  margin-bottom: 0.5em;
}
@media (min-width: 481px) {
  /* line 105, ../sass/style.scss */
  body h1 {
    font-size: 2.2em;
  }
}
@media (min-width: 641px) {
  /* line 105, ../sass/style.scss */
  body h1 {
    font-size: 2.8em;
  }
}
@media (min-width: 961px) {
  /* line 105, ../sass/style.scss */
  body h1 {
    font-size: 2.8em;
  }
}
/* line 118, ../sass/style.scss */
body h2 {
  font-family: 'Playfair Display SC', serif;
  /*font-family: 'Lato', sans-serif;*/
  font-size: 2em;
  font-weight: 600;
  text-transform: Uppercase;
  color: black;
}
@media (min-width: 481px) {
  /* line 118, ../sass/style.scss */
  body h2 {
    font-size: 2.2em;
  }
}
@media (min-width: 641px) {
  /* line 118, ../sass/style.scss */
  body h2 {
    font-size: 2.8em;
  }
}
@media (min-width: 961px) {
  /* line 118, ../sass/style.scss */
  body h2 {
    font-size: 2.5em;
  }
}
@media (min-width: 1281px) {
  /* line 118, ../sass/style.scss */
  body h2 {
    font-size: 2.8em;
  }
}
/* line 134, ../sass/style.scss */
body .main_title {
  /*font-family: 'Parisienne',*/
  font-family: 'Pinyon Script', cursive;
  font-size: 5em;
  margin-bottom: 1em;
  color: white;
}
/* line 142, ../sass/style.scss */
body h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: Uppercase;
  color: #000;
}
@media (min-width: 481px) {
  /* line 142, ../sass/style.scss */
  body h3 {
    font-size: 1.4em;
  }
}
@media (min-width: 961px) {
  /* line 142, ../sass/style.scss */
  body h3 {
    font-size: 1.5em;
  }
}
@media (min-width: 1281px) {
  /* line 142, ../sass/style.scss */
  body h3 {
    font-size: 1.7em;
  }
}
/* line 154, ../sass/style.scss */
body p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}
@media (min-width: 481px) {
  /* line 154, ../sass/style.scss */
  body p {
    font-size: 1em;
  }
}
@media (min-width: 961px) {
  /* line 154, ../sass/style.scss */
  body p {
    font-size: 1em;
  }
}
@media (min-width: 1281px) {
  /* line 154, ../sass/style.scss */
  body p {
    font-size: 1em;
  }
}
/* line 165, ../sass/style.scss */
body .column_display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 3em;
  border: 2px solid #e2e2e2;
}
@media (min-width: 481px) {
  /* line 165, ../sass/style.scss */
  body .column_display {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1025px) {
  /* line 165, ../sass/style.scss */
  body .column_display {
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
  }
}
